#header {
  display: flex;
  align-items: flex-end;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  width: 90vw;
  margin: auto; }
  #header #header-me, #header #header-links {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 50%; }
  #header #header-links {
    text-align: right; }
  #header #header-name {
    font-size: 24pt; }
  #header p {
    margin-bottom: 0px;
    margin-top: 0px; }
  #header a {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #00c8fa; }
  #header a:hover {
    color: #005E91; }

@media only screen and (max-width: 442px) {
  #header {
    height: 40vh; } }
@media only screen and (min-width: 443px) {
  #header {
    height: 25vh; } }
#menu {
  background-color: black;
  width: 90vw;
  margin: auto;
  margin-top: 14px; }
  #menu .menu-item {
    display: inline-block;
    height: 100%; }
  #menu p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 15px 5px 15px; }
  #menu a {
    color: #cfc7c7; }
  #menu .menu-item:hover {
    background-color: white; }
  #menu a:hover {
    color: black;
    text-decoration: none; }

@media only screen and (max-width: 634px) {
  #inspiration-mobile {
    width: 90vw;
    margin: auto;
    margin-top: 32px;
    background-color: black;
    color: #cfc7c7; }
    #inspiration-mobile p {
      padding: 5px 10px 5px 15px;
      text-align: center; }

  #inspiration {
    display: none; } }
@media only screen and (min-width: 635px) {
  #inspiration {
    width: 90vw;
    margin: auto;
    margin-top: 32px;
    background-color: black;
    color: #cfc7c7; }
    #inspiration p {
      padding: 5px 10px 5px 15px;
      text-align: right; }

  #inspiration-mobile {
    display: none; } }
#content-container {
  background-color: rgba(50, 50, 50, 0.9);
  width: 90vw;
  height: auto;
  margin: auto;
  margin-top: 14px;
  box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.75); }
  #content-container #portfolio .year-text {
    font-family: "Open Sans", sans-serif;
    color: #888; }
  #content-container .text-wrapper {
    background-color: #222222; }
  #content-container h2 {
    padding: 5px 10px 5px 15px;
    font-weight: bold;
    font-size: 15pt;
    line-height: 1.4em;
    color: white; }
  #content-container p {
    padding: 5px 10px 5px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #cfc7c7; }
  #content-container li {
    color: #cfc7c7; }

@media only screen and (max-width: 736px) {
  #content-container {
    display: block; } }
@media only screen and (min-width: 737px) {
  #content-container {
    display: flex; }

  #about {
    width: 50%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #222222; }

  #portfolio {
    width: 50%; } }
#footer #footer-content {
  width: 90vw;
  margin: auto;
  background-color: black;
  color: #cfc7c7;
  margin-top: 14px;
  margin-bottom: 14px; }
#footer p {
  padding: 5px 10px 5px 15px; }

body {
  background-image: url("/public/resources/background_image.jpg");
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

a {
  color: #0088cc;
  text-decoration: none; }

a:hover {
  color: #005E91;
  text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
