#content-container {
  display: flex;
  background-color: rgba(50, 50, 50, 0.9);
  width: 90vw;
  height: auto;
  margin: auto;
  margin-top: 14px;
  box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.75);
  #about {
    width: 50%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(34, 34, 34, 1);
  }
  #portfolio {
    width: 50%;
    .year {
      font-family: 'Open Sans', sans-serif;
      color: #888;
    }
  }
  .text-wrapper {
    background-color: rgba(34, 34, 34, 1);
  }
  h2 {
    padding: 5px 10px 5px 15px;
    font-weight: bold;
    font-size: 15pt;
    line-height: 1.4em;
    color: white;
  }
  p {
    padding: 5px 10px 5px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #cfc7c7;
  }
  li {
    color: #cfc7c7;
  }
}
