#content-container {
  background-color: $main-background-colour;
  display: block;
  height: auto;
  margin: auto;
  margin-top: 14px;
  // box-shadow: $box-shadow;
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $main-font-colour;
  }
  ul {
    margin-bottom: 30px;
  }
  .no-margin-bottom {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  li {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $main-font-colour;
  }
  h2 {
    padding: 2em 15px 2em 15px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4em;
    color: $header-font-colour;
  }
  h3 {
    font-size: 20px;
  }
  blockquote {
    padding-right: 150px;
    padding-left: 150px;
    color: $main-font-colour;
  }
  img {
    margin-top: 0px;
    margin-bottom: 0px;
    image-orientation: from-image;
  }
  hr {
    width: 15%;
    margin: 0 auto;
    color: $header-font-colour;
    margin-bottom: 20px;
  }
  #top-h2 {
    margin-top: 0px !important;
    margin-bottom: 0px!important;
  }
  .my-story-image {
    float: right;
    width: 25%;
    margin-right: 10%;
  }
//  .img-text {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
  .img-border {
    border: 6px solid white;
  }
  .padding-bottom-20px {
    padding-bottom: 20px;
  }
  .service-text {
    font-size: 18px;
    line-height: 1.6em;
  }
  .review-header {
    text-align: center;
    padding-bottom: 20px;
  }
  .review-title {
    text-align: center;
    color: white;
  }
  .padding-top-60px {
    padding-top: 60px;
  }
  .content-background-colour {
    background-color: $content-background-colour;
  }
  .padding-top-2em {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .padding-top-20px {
    padding-top: 20px !important;
  }
  .no-margins {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .padding-top-40px {
    padding-top: 40px;
  }
  .section-sub-heading {
    background-color: $main-background-colour;
    color: white;
    line-height: 1.5em;
    font-size: 24px;
  }
  .footer-text {
    font-size: 20px !important;
  }
  .font-16px {
    font-size: 16px !important;
  }
  .section-title {
    background-color: $main-background-colour;
    color: white;
    line-height: 1.5em;
    font-size: 30px;
  }
  .section-header {
    font-family: $secondary-font;
    color: $header-font-colour;
    text-align: center;
    font-size: 24px;
  }
  .workshops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .workshops-column {
    display: inline-block;
    width: 50%;
    p {
      padding: 5px 150px 5px 15px;
    }
  }
  .contact {
    text-align: center;
    i {
      padding-right: 5px;
    }
  }
  .skills {
    line-height: 1.45;
  }
  .process-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  #about-header {
    margin-top: 0px;
    color: white;
    text-align: center;
  }
  #contact-header {
    margin-top: 0px;
    color: white;
  }
  #chris-alexander {
    text-align: center;
    padding-top: 20px;
  }
  .footer-navigation {
    text-align: center;
  }
}

@media only screen and (max-width: 736px) {
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    padding: 0px !important;
  }
  .service-text {
    font-size: 16px !important;;
  }
  .review-header {
    text-align: center;
  }
  #content-container {
    .case-study-img-container {
      margin: 0 auto;
      padding: 5px 25px 5px 25px;
      text-align: center;
      img {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    #about-header {
      padding: 5px 2em 5px 2em;
    }
    #contact-header {
      padding: 5px 2em 5px 2em;
    }
    .portrait {
      width: 75% !important;
      margin: 0 auto;
    }
    .img-container {
      position: relative;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 0px;
      img {
        width: 90%;
        height: auto;
        text-align: center;
      }
    }
    .my-story-image {
      padding: 5px 1.5em 5px 2em !important;
      width: 35% !important;
    }
    .section-header {
      font-size: 20px;
    }
    .section-title {
      font-size: 24px;
    }
    p {
      padding: 5px 2em 5px 2em;
      font-size: 16px;
      line-height: 1.5em;

    }
    h2 {
      font-size: 24px;
      line-height: 1.5em;
    }
    h3 {
      text-align: center;
      font-size: 20px;
      line-height: 1.5em;
      padding: 5px 2em 5px 2em;
    }
    h4 {
      font-size: 18px;
      line-height: 1.5em;
    }
    ul {
      padding: 5px 2em 5px 3em;
      margin-top: 0px;
    }
    li {
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 1.5em;
    }
    .skills {
      text-align: left;
    }
    blockquote {
      padding: 5px 2em 5px 2em;
    }
    .padding-bottom-80px {
      padding-bottom: 40px;
    }
    .my-process-column {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
    }
    .case-study {
      padding-top: 30px;
    }
    .case-study-section {
      h4 {
        color: $tertiary-font-colour;
        padding: 5px 2em 5px 1.8em;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
  }
}

@media only screen and (min-width: 737px) {
  .bg {
    display: none;
  }
  #content-container {
    #about-header {
      padding: 5px 150px 5px 150px;
    }
    #contact-header {
      padding: 5px 150px 5px 150px;
    }
    .case-study-img-container {
      margin: 0 auto;
      padding: 5px 25px 5px 25px;
      text-align: center;
      img {
        max-height: 30em;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .portrait {
      width: 50% !important;
      margin: 0 auto;
    }
    p {
      padding: 5px 150px 5px 150px;
    }
    ul {
      padding: 5px 150px 5px 170px;
      margin-top: 0px;
    }
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .padding-bottom-80px {
      padding-bottom: 80px;
    }
    .my-process-column {
      h3 {
        text-align: center;
        padding: 5px 150px 5px 150px;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 300px;
        width: auto;
      }
    }
    // .my-process {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   width: 100%;
    // }
    // .my-process-column {
    //   display: inline-block;
    //   width: 20%;
    //   h2 {
    //     text-align: center;
    //   }
    //   h3 {
    //     text-align: center;
    //   }
    //   p {
    //     padding: 5px 10px 15px 15px;
    //   }
    // }
    .case-study {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .my-story-image {
      padding-left: 1em !important;
      padding-bottom: 1em !important;
    }
    .case-study-section {
      display: inline-block;
      width: 50%;
      line-height: 1.8em;
      p {
        padding: 5px 10px 20px 150px;
        font-size: 20px !important;
      }
      h4 {
        font-size: 24px !important;
        padding: 5px 10px 20px 150px;
        color: $tertiary-font-colour;
        text-align: left;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .img-container {
        position: relative;
        width: 75%;
        height: auto;
        float: left;
        padding-right: 25px;
        padding-left: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .decrease-padding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media only screen and (min-width: 1350px) {
  .case-study-img-container {
    img {
      max-height: 40em !important;
    }
  }
  .my-story-image {
    width: 15% !important;
  }
}

@media only screen and (min-width: 1550px) {
  body {
    width: 60%;
    margin: auto !important;
  }
}
