#footer {
  #footer-content {
  width: 90vw;
  margin: auto;
  background-color: $secondary-background-colour;
  color: $main-font-colour;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  }
  p {
    padding: 5px 10px 5px 15px;
  }
}

@media only screen and (max-width: 736px) {
  #footer-content {
    p {
      font-size: 16px;
    }
  }
}
