.column {
  width: 5%;
  padding: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

.row {
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#footer {
  background-color: #003E71;
  #footer-content {
  color: white;
  text-align: center;
  }
  p {
    padding: 25px 10px 25px 15px;
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
    max-height: 30px;
    vertical-align: middle;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 736px) {
  #footer-content {
    p {
      font-size: 14px;
    }
  }
}

#mc_embed_signup {
  background-color: rgba(50, 50, 50, 0.7) !important;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  a {
    color: #00c8fa !important;
  }
  p {
    text-align: left !important;
    line-height: 1.5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top: 1em !important;
    font-size: 18px !important;
    font-family: "Raleway", "Open Sans", sans-serif !important;
  }
  .label {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 20px !important;
    padding-right: 150px !important;
    padding-top: 40px !important;
    padding-bottom: 20px !important;
    line-height: 1.5em !important;
  }
  .indicates-required {
    color: white;
  }
  .button {
    background-color: #0088cc !important;
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 40px !important;
  }
  .button:hover {
    background-color: #005E91 !important;
  }
  .email {
    font-family: "Open Sans", sans-serif !important;
  }
}

.contact-background-color {
  background-image: url(../../public/resources/bluebells-2.JPG);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #mc_embed_signup {
    width: 85%;
    p {
      font-size: 12px !important;
    }
    .label {
      font-size: 16px !important;
      padding-right: 85px !important;
    }
    .button {
      width: 50% !important;
    }
    .email {
      width: 50% !important;
    }
    #label-style {
      line-height: 1.5em;
      padding-left: 2em !important;
      padding-right: 2em !important;
    }
  }
  .column {
    width: 15%;
  }
}
