#header {
  display: flex;
  align-items: flex-end;
  background-color: $main-background-colour;
  color: $header-font-colour;
  width: 90vw;
  margin: auto;
  #header-me {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 50%;
  }
  #header-links {
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
    text-align: right;
  }
  .header-name {
    font-size: 32px;
  }
  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  a {
    margin-bottom: 0px;
    margin-top: 0px;
    color: $link-colour-header;
  }
  a:hover {
    color: $link-colour-hover;
  }
}

@media only screen and (max-width: 442px) {
  #header {
    height: 40vh;
  }
  #email {
    display: none;
  }
}

@media only screen and (min-width: 443px) {
  #header {
    height: 30vh;
  }
}
