#header {
  background-color: $main-background-colour;
  color: $header-font-colour;
  width: 100%;
  height: 47vh;
  margin: auto;
  border-bottom: 4px solid white;
  position: relative;
  .header-name {
    font-size: 32px;
    line-height: 1.2em;
    padding-bottom: 10px;
  }
  img {
    position: absolute;
    top: calc(47vh - 100px);
    left: calc(50vw - 100px);
    width: 200px;
    height: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid $header-font-colour;
    padding: 0px;
  }
  p {
    padding-top: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  a {
    margin-bottom: 0px;
    margin-top: 0px;
    color: $link-colour-header;
  }
  i {
    padding-right: 5px;
  }
  a:hover {
    color: $link-colour-hover;
  }
}

@media only screen and (max-width: 736px) {
  #header {
    height: 70vh;
    p {
      font-size: 18px;
    }
    img {
      top: calc(70vh - 100px);
      left: calc(50vw - 100px);
    }
  }
  #header-me {
    padding-top: 80px;
    text-align: center;
  }
  #header-links {
    display: none;
  }
}

@media only screen and (min-width: 737px) {
  .header-name {
    font-size: 40px !important;
  }
  #header {
    display: flex;
    align-items: flex-end;
    #header-me {
      padding-left: 15px;
      padding-bottom: 15px;
      width: 50%;
    }
    #header-links {
      padding-right: 15px;
      padding-bottom: 15px;
      width: 50%;
      text-align: right;
    }
  }
  #header p {
    font-size: 20px;
  }
}
