@import 'variables';
@import 'header';
@import 'menu';
@import 'inspiration';
@import 'content';
@import 'footer';

body {
  background-image: url('../resources/background_image.jpg');
  margin: 0px;
  font-family: $main-font;
  font-size: 16px;
}

a {
  color: $link-colour;
  text-decoration: none;
}

a:hover {
  color: $link-colour-hover;
  text-decoration: underline;
}
