.menu {
  background-color: rgb(25, 25, 25);
  width: 100%;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .menu-item {
    display: inline-block;
    height: 100%;
  }
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
  }
  a {
    color: $main-font-colour;
  }
  .menu-item:hover {
    background-color: $menu-background-colour-hover;
  }
  a:hover {
    color: $menu-link-colour-hover;
    text-decoration: none;
  }
}

@media only screen and (min-width: 737px) {
  .menu p {
    font-size: 20px;
    padding: 12px 15px 12px 15px;
  }
  .fixed {
    font-size: 24px;
  }
}
