.menu {
  background-color: #003E71;
  width: 100%;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  .menu-item {
    display: inline-block;
    height: 100%;
  }
  .social-media-icons {
    max-height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  p {
    font-family: $secondary-font;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    color: white;
  }
  a {
    color: $main-font-colour;
  }
  #menu-about:hover {
    background-color: #086788;
  }
  #menu-services:hover {
    background-color: #d93b9d;
  }
  #menu-reviews:hover {
    background-color: #6ba753;
  }
  #menu-pricing:hover {
    background-color: #E06C9F;
  }
  #menu-contact:hover {
    background-color: #1ba4de;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

//used in conjunction with jQuery code in index.html. you'll need to re-think then
//jQuery code in order to accomodate the 'rainbow' above.

// .active {
//   background-color: $menu-background-colour-hover;
//   a {
//     color: $menu-link-colour-hover;
//     text-decoration: none;
//   }
// }

@media only screen and (max-width: 370px) {
  .menu p {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@media only screen and (max-width: 736px) {
  .menu p {
    font-size: 16px;
  }
  .menu .social-media-icons {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .menu p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 737px) {
  .menu p {
    font-size: 20px;
    padding: 12px 15px 12px 15px;
  }
  .fixed {
    font-size: 24px;
  }
}
