.menu {
  background-color: $secondary-background-colour;
  width: 90vw;
  margin: auto;
  margin-top: 14px;
  .menu-item {
    display: inline-block;
    height: 100%;
  }
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 15px 5px 15px;
  }
  a {
    color: $main-font-colour;
  }
  .menu-item:hover {
    background-color: $menu-background-colour-hover;
  }
  a:hover {
    color: $menu-link-colour-hover;
    text-decoration: none;
  }
}

.cloned {
  text-align: center;
}

@media only screen and (min-width: 737px) {
  .cloned {
    font-size: 24px;
  }
}
